{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}



<!DOCTYPE html>
<html lang="en">

<!--_head.html-->

{% include 'parciais/_head.html' %}

<!--_head.html-->


<body class="home">

	<!--_nav.html-->

    {% include 'parciais/_nav.html' %}

    <!--/_nav.html-->
   
    


     <!--Titulo--> 

     {% block title %}  {% endblock %}

     <!--Titulo-->
     
         
     <!--Conteudo-->
     {% block content %}
     
     
     
      
         
	

	<!-- container -->
	

    {% endblock %}
<!--Conteudo-->

<!--footer-->

{% include 'parciais/_footer.html' %}

<!--footer-->  
	

</body>
</html>